@model IEnumerable<ASPCoreMVC.Models.Employee>

@{
    ViewData["Title"] = "Index";
    var msg = ViewData["heading"].ToString();
    //TempData.Keep("x");

}

<h1>@ViewBag.Message</h1>
@Html.ActionLink("Go to Second Page","Index","Second")

<p>X=@TempData["x"].ToString()</p>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ecode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deptid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            Html.RenderPartial("_EmployeeItemView", item);  
        }
    </tbody>
</table>

@section s1{
    <h2>This is Section 1 of Index page</h2>
}